<div class="row">
  <div class= "col-md-10">
    <h1>Student</h1>
  </div>
  <div class= "col-md-2">
    <%#= link_to_add_association 'add degree', f, :student_degrees%>
    <%= link_to "Add Student", new_student_path, class: "btn btn-primary"  %>
  </div>
</div>


<% @students.each do |student| %>
  <h2>
    <%= link_to student.name,student_path(student.id) %>
  </h2>

  <ul>
  <% student.student_degrees.each do |sd| %>
    <li>
      <%= sd.degree.name %>  <%= sd.passing_year %>
    </li>
  <% end %>
  </ul>
<% end %>