@import "bootstrap";

.qrcode{
	height: 500px;
  width: 500px;
}

.card_space{
  height: 160px;
}


:root {
  --light-bg-color: silver;
  --light-text-color: white;
  --dark-bg-color: black;
  --dark-text-color: grey;
} 

@media (prefers-color-scheme: dark) {
  .card {
    background-color: #212529;
  }
  body {
    background: var(--dark-bg-color);
    color: var(--dark-text-color);
  }

  body.light {
    background: var(--light-bg-color);
    color: var(--light-text-color);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: var(--light-bg-color);
    color: var(--light-text-color);
  }

  body.dark {
    background: var(--dark-bg-color);
    color: var(--dark-text-color);
  }
}